# Dependencias
node_modules/

# Archivos de compilación o distribución
dist/

# Archivos de configuración específicos del entorno
tsconfig.json

# Carpetas de proyectos o trabajos prácticos
TP-WebProgramming/
package.json
package-lock.json
scripts/
ejemplo/